<div class="container">
  <section>
    <h2>Squadre</h2>
    <mat-table
      [dataSource]="members"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> Utente </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.userId }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="totalCredits">
        <mat-header-cell *matHeaderCellDef> Crediti resuidi </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.totalCredits }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="missing">
        <mat-header-cell *matHeaderCellDef> Mancanti </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.missing | json }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedTeamColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedTeamColumns"></mat-row>
    </mat-table>
  </section>

  <section>
    <h2>Svincolati</h2>
    <mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Ruolo </mat-header-cell>
        <mat-cell
          *matCellDef="let element"
          class="role"
          [ngClass]="element.role ? 'role--' + element.role : ''"
        >
          {{ element.role | firstWord }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="team">
        <mat-header-cell *matHeaderCellDef> Squadra </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.team }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fantaPoint">
        <mat-header-cell *matHeaderCellDef> M. FV </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.fantaPoint }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </section>
</div>
